.sidebar {
  width: 250px; /* Adjust the width as needed */
  height: 100vh; /* Full height of the viewport */
  color: white; /* Text color */
  padding: 20px; /* Optional padding */
  top: 0;
  background-color: #3c0000;
  left: 0;
    /* width: 250px;

    color: white;
    padding: 20px;
    display: flex;
    flex-direction: column;
    height: 100vh;    */
}

.link {
  color: #e8e8e8;
  text-decoration: none;
  font-weight: bold;
}

.link_login{
  color: #e8e8e8;
  font-weight: bold;
  border: none;
  background: none;
}


.link:hover {
  text-decoration: underline;
  text-decoration: none;
  padding: 1%;
}

.logo img {
  width: 13rem;
  padding-bottom: 1rem;
}

.nav ul {
  list-style: none;
  padding: 5px;
}

.nav ul li {
  margin: 20px 0;
}
