.sidebar {
  width: 16rem; /* Adjust the width as needed */
  color: white; /* Text color */
  padding: 20px; /* Optional padding */
  top: 0;
  background-color: #3c0000;
  left: 0;
}

.link {
  color: #e8e8e8;
  text-decoration: none;
  font-weight: bold;
}

.linklogin{
  color: #e8e8e8;
  font-weight: bold;
  border: none;
  background: none;
}

.linklogin:hover{
  color: #e8e8e8;
  font-weight: bold;
  border: none;
  background: none;
  /* padding-right: 1px; */
  padding:1% ;
}

.link:hover {
  text-decoration: underline;
  text-decoration: none;
  padding: 1px;
}

.logo img {
  width: 13rem;
  padding-bottom: 1rem;
}

.nav ul {
  list-style: none;
  padding: 5px;
}

.nav ul li {
  margin: 20px 0;
}
